.container {
	width: 100%;
	padding: 35px 10%;
}

.container {
	padding-right: calc(10% - 30px);
}

main.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.col header.title {
	font-family: helvetica;
	color: #11a372;
	padding: 0px 0px 20px 30px;
	text-transform: uppercase;
}

.col .contents {
	padding: 0px 30px;
	border-left: 1px solid #bababa;
	overflow-x: visible;
	margin: 20px;
}

.col .contents .box {
	position: relative;
	padding: 20px;
	padding-top: 0;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
	overflow-x: visible;
}

.col .contents .box::before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #11a372;
	border: 1px solid white;
}

.box h4 {
	position: relative;
	color: #07b87d;
}

.box h3 {
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: #a1a1a1;
}

.box p {
	line-height: 1.2;
	color: #767272;
	font-size: 17px;
	overflow-x: visible;
}

@media(max-width: 768px) {
	main.row {
		grid-template-columns: 1fr;
	}

	.row .col:nth-child(2) {
		margin-top: 30px;
	}
}